<div class="div1">
    <div>
        <mat-form-field>
            <mat-label>Search by</mat-label>
            <input
            #searchBy 
            matInput
            placeholder="Type something"
            autocomplete="off"
            [(ngModel)]="searchInput">
        </mat-form-field>
    </div>

    <div>
        <mat-list>
            <mat-list-item *ngFor='let p of people$ | async'>
                <h3 matLine>Name: {{p.lasttname}}, {{p.firstname}}</h3>
                <p matLine>Email: {{p.email}}</p>
                <p matLine>City: {{p.city}}</p>
                <p matLine>Country: {{p.country}}</p>
            </mat-list-item>
        </mat-list>
    </div>
</div>