<div>
<button mat-stroked-button color="primary" (click)="observableCreate()">create / observable</button> 
<button mat-stroked-button color="primary" (click)="fromClick()">From</button> 
<button mat-stroked-button color="primary" (click)="ofClick()">Of</button> 
<button mat-stroked-button color="primary" (click)="intervalClick()">interval</button>
<button mat-stroked-button color="primary" (click)="timerClick()">timer</button>
<button mat-stroked-button color="primary" (click)="fromEventClick()">From event</button> 
<button mat-stroked-button color="primary" (click)="unsubscribeClick()">unsubscribe</button>
</div>